node redV2_9.json
[
    {
        "id": "b8da40b5e5b44b97",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4d7e94f7f301b5bf",
        "type": "mqtt in",
        "z": "b8da40b5e5b44b97",
        "name": "Recibir ESP32",
        "topic": "canarias/#",
        "qos": "0",
        "datatype": "utf8",
        "broker": "0ceb6ce9dfbdb925",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "4bc28e2a7035251f"
            ]
        ]
    },
    {
        "id": "4bc28e2a7035251f",
        "type": "json",
        "z": "b8da40b5e5b44b97",
        "name": "Convertir JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "75d0f399653130f5"
            ]
        ]
    },
    {
        "id": "a0a5c875536d4f93",
        "type": "switch",
        "z": "b8da40b5e5b44b97",
        "name": "Enrutar por Tipo Sensor",
        "property": "payload.metadatos.tipo_sensor",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperatura_interior",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "caudal",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 60,
        "wires": [
            [
                "0c1e7a7f0407840e",
                "4d3a20300f3fa5ee"
            ],
            [
                "48147c710a8aa401"
            ]
        ]
    },
    {
        "id": "0c1e7a7f0407840e",
        "type": "function",
        "z": "b8da40b5e5b44b97",
        "name": "Algoritmo: Z-Score",
        "func": "// ====================================================================\n// ALGORITMO: Z-SCORE TÉRMICO MULTI-SENSOR (Máximo Recall Aislado)\n// ====================================================================\n\nconst N_VENTANA = 20;\nconst Z_CRITICO = 1.3; // Umbral hiper-sensible optimizado para Máximo Recall\n\nlet topic = msg.topic || \"global\"; // Clave unívoca de enrutamiento por sensor\nlet temp_actual = parseFloat(msg.payload.datos_sensores.temperatura_int_C);\nif (isNaN(temp_actual)) return null;\n\n// 1. ARQUITECTURA MULTI-TENANT: Recuperar el mapa de ventanas de la memoria RAM\nlet mapa_ventanas = context.get('mapa_ventanas_zscore') || {};\nlet ventana = mapa_ventanas[topic] || [];\n\n// Inyección del dato actual en la ventana correspondiente a este sensor\nventana.push(temp_actual);\nif (ventana.length > N_VENTANA) {\n    ventana.shift(); // Mantenemos el tamaño de la ventana móvil\n}\n\n// Guardamos la ventana actualizada de este sensor específico en el mapa global\nmapa_ventanas[topic] = ventana;\ncontext.set('mapa_ventanas_zscore', mapa_ventanas);\n\n// 2. SALVAGUARDA DE INICIALIZACIÓN (Arranque en frío)\nif (ventana.length < N_VENTANA) {\n    msg.prediccion_algoritmo = 0;\n    msg.algoritmo_nombre = \"Z-Score_Termico\";\n    return msg; // Esperamos a tener la ventana llena para operar matemáticamente\n}\n\n// 3. CÁLCULO DE LA MEDIA ESTADÍSTICA DE LA VENTANA\nlet suma = 0;\nfor (let i = 0; i < N_VENTANA; i++) suma += ventana[i];\nlet media = suma / N_VENTANA;\n\n// 4. CÁLCULO DE LA DESVIACIÓN ESTÁNDAR\nlet suma_varianza = 0;\nfor (let i = 0; i < N_VENTANA; i++) {\n    let diff = ventana[i] - media;\n    suma_varianza += (diff * diff);\n}\nlet desviacion = Math.sqrt(suma_varianza / N_VENTANA);\n\n// 5. EVALUACIÓN DE LA DISTANCIA ESTADÍSTICA (Z-Score)\n// Si la desviación es 0 (datos planos estables), el Z-Score es cero para evitar NaN\nlet z_score = (desviacion === 0) ? 0 : Math.abs((temp_actual - media) / desviacion);\n\n// 6. DEFUSIFICACIÓN / DISPARO HIPIER-SENSITIVO\nlet prediccion = (z_score > Z_CRITICO) ? 1 : 0;\n\n// Enrutamiento unificado de variables hacia el Evaluador Central\nmsg.prediccion_algoritmo = prediccion;\nmsg.algoritmo_nombre = \"Z-Score_Termico\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 20,
        "wires": [
            [
                "26f85224881ce817",
                "4a33c57d8c9e0e1b"
            ]
        ]
    },
    {
        "id": "4d3a20300f3fa5ee",
        "type": "function",
        "z": "b8da40b5e5b44b97",
        "name": "Algoritmo: EWMA",
        "func": "// ====================================================================\n// ALGORITMO: EWMA TÉRMICO MULTI-SENSOR (Máximo Recall Corregido)\n// ====================================================================\n\nconst ALPHA = 0.50;        // Elevado: Otorga un 50% de peso al último evento leído\nconst UMBRAL_ERROR = 0.5;  // CORREGIDO: Tolerancia estricta de 0.5ºC para Máximo Recall\n\nlet topic = msg.topic || \"global\"; // Clave única para aislar cada sensor\nlet temp_actual = parseFloat(msg.payload.datos_sensores.temperatura_int_C);\nif (isNaN(temp_actual)) return null;\n\n// 1. ARQUITECTURA MULTI-TENANT: Recuperar el diccionario de estados de la RAM\nlet mapa_ewma = context.get('mapa_ewma') || {};\nlet ewma_anterior = mapa_ewma[topic];\n\n// Inicialización en frío por software (para el primer mensaje de este sensor específico)\nif (ewma_anterior === undefined) {\n    ewma_anterior = temp_actual;\n}\n\n// 2. CÁLCULO DEL ERROR RESIDUAL ANALÍTICO\n// Evaluamos la desviación del valor real frente a la predicción esperada (el EWMA previo)\nlet error_residual = Math.abs(temp_actual - ewma_anterior);\n\n// 3. DEFUSIFICACIÓN / DISPARO HIPIER-SENSIBLE\nlet prediccion = (error_residual > UMBRAL_ERROR) ? 1 : 0;\n\n// 4. ACTUALIZACIÓN DINÁMICA DEL ESTADO DEL SENSOR\nlet ewma_actual = (ALPHA * temp_actual) + ((1 - ALPHA) * ewma_anterior);\nmapa_ewma[topic] = ewma_actual; // Guardamos el nuevo EWMA indexado por su Topic MQTT\ncontext.set('mapa_ewma', mapa_ewma);\n\n// Enrutamiento de variables unificadas hacia el Evaluador Central\nmsg.prediccion_algoritmo = prediccion;\nmsg.algoritmo_nombre = \"EWMA_Termico\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 60,
        "wires": [
            [
                "26f85224881ce817",
                "4a33c57d8c9e0e1b"
            ]
        ]
    },
    {
        "id": "48147c710a8aa401",
        "type": "function",
        "z": "b8da40b5e5b44b97",
        "name": "Algoritmo: Lógica Difusa",
        "func": "// ====================================================================\n// ALGORITMO: LÓGICA DIFUSA ADAPTATIVA, GENÉRICA Y AUTO-CALIBRADA (V2)\n// ====================================================================\n\nlet caudal = parseFloat(msg.payload.datos_sensores.caudal_Lmin);\nif (isNaN(caudal)) return null;\n\nlet topic = msg.topic || \"global\"; // Clave unívoca para aislar cada sensor (Multi-Tenant)\nlet ahora = new Date();\nlet hora_decimal = ahora.getHours() + (ahora.getMinutes() / 60);\n\n// --------------------------------------------------------------------\n// 1. MEMORIA TEMPORAL: Recuperar y actualizar la media móvil de fondo\n// --------------------------------------------------------------------\nlet mapa_medias = context.get('mapa_medias_caudal') || {};\nlet media_anterior = mapa_medias[topic];\n\n// Inicialización en frío por software\nif (media_anterior === undefined || media_anterior === 0) {\n    mapa_medias[topic] = caudal;\n    context.set('mapa_medias_caudal', mapa_medias);\n\n    msg.prediccion_algoritmo = 0;\n    msg.algoritmo_nombre = \"Logica_Difusa_Fugas\";\n    msg.riesgo_difuso_calculado = 0;\n    msg.media_caudal_calculada = caudal;\n    return msg;\n}\n\n// --------------------------------------------------------------------\n// 2. FUSIFICACIÓN: VENTANA NOCTURNA (Trapezoide Difuso)\n// --------------------------------------------------------------------\nlet mu_noche = 0.0;\nif (hora_decimal >= 23 || hora_decimal < 5) {\n    mu_noche = 1.0; // Plena madrugada\n} else if (hora_decimal >= 5 && hora_decimal <= 6) {\n    mu_noche = 1.0 - (hora_decimal - 5); // Rampa descendente de amanecer\n} else if (hora_decimal >= 22 && hora_decimal < 23) {\n    mu_noche = hora_decimal - 22; // Rampa ascendente de cierre\n}\n\n// --------------------------------------------------------------------\n// 3. FUSIFICACIÓN: CAUDAL ADAPTATIVO (Ratio Genérico de Desviación)\n// --------------------------------------------------------------------\nlet ratio = caudal / media_anterior;\nlet mu_caudal = 0.0;\n\n// Ajustamos ligeramente los umbrales para capturar fugas reales (+15% a +50%)\nconst RATIO_MIN_SOSPECHA = 1.15;\nconst RATIO_MAX_SOSPECHA = 1.50;\n\nif (ratio < RATIO_MIN_SOSPECHA) {\n    mu_caudal = 0.0;\n} else if (ratio >= RATIO_MIN_SOSPECHA && ratio <= RATIO_MAX_SOSPECHA) {\n    mu_caudal = (ratio - RATIO_MIN_SOSPECHA) / (RATIO_MAX_SOSPECHA - RATIO_MIN_SOSPECHA);\n} else {\n    mu_caudal = 1.0;\n}\n\n// --------------------------------------------------------------------\n// 4. INFERENCIA DIFUSA (Sistema de Reglas Concurrentes)\n// --------------------------------------------------------------------\n// Regla A (Nocturna): El riesgo se amplifica si coincide con la noche.\nlet riesgo_nocturno = mu_caudal * mu_noche;\n\n// Regla B (Diurna/Crítica): Si el caudal supera el máximo ratio (mu_caudal -> 1), \n// es peligroso por sí mismo, independientemente de la hora.\nlet riesgo_absoluto = mu_caudal >= 0.8 ? mu_caudal : 0.0;\n\n// Combinación mediante Co-Norma t (Máximo): Tomamos el escenario más crítico\nlet riesgo_fuga = Math.max(riesgo_nocturno, riesgo_absoluto);\n\n// DEFUSIFICACIÓN: Umbral de decisión balanceado\nlet prediccion = (riesgo_fuga >= 0.40) ? 1 : 0;\n\n// --------------------------------------------------------------------\n// 5. APRENDIZAJE CONTINUO DINÁMICO (Anti-Contaminación de la Media)\n// --------------------------------------------------------------------\n// Si detectamos una fuga (prediccion === 1), congelamos temporalmente el \n// aprendizaje (ALPHA = 0) para que la media no \"absorba\" la fuga y altere los datos en Grafana.\nlet alpha = (prediccion === 1) ? 0.0 : 0.01;\nlet media_nueva = (alpha * caudal) + ((1 - alpha) * media_anterior);\n\nmapa_medias[topic] = media_nueva;\ncontext.set('mapa_medias_caudal', mapa_medias);\n\n// Enrutamiento unificado de variables hacia el Evaluador Central y Grafana\nmsg.prediccion_algoritmo = prediccion;\nmsg.algoritmo_nombre = \"Logica_Difusa_Fugas\";\nmsg.riesgo_difuso_calculado = Math.round(riesgo_fuga * 100) / 100;\nmsg.media_caudal_calculada = Math.round(media_nueva * 100) / 100;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 120,
        "wires": [
            [
                "26f85224881ce817",
                "4a33c57d8c9e0e1b"
            ]
        ]
    },
    {
        "id": "26f85224881ce817",
        "type": "function",
        "z": "b8da40b5e5b44b97",
        "name": "Evaluador Científico Central",
        "func": "// ====================================================================\n// NODO EVALUADOR CIENTÍFICO CENTRAL (Matriz Viva en RAM)\n// ====================================================================\n\nlet prediccion = msg.prediccion_algoritmo;\nlet algoritmo = msg.algoritmo_nombre || \"Desconocido\";\n\n// 1. OBTENER LA VERDAD (Ground Truth) DEL ESP32\nlet realidad = 0;\nif (msg.payload.ground_truth && msg.payload.ground_truth.estado_anomalo !== undefined) {\n    // Si el ESP32 manda 'true' o un 1 numérico, forzamos realidad a 1. Si no, a 0.\n    realidad = (msg.payload.ground_truth.estado_anomalo === true || msg.payload.ground_truth.estado_anomalo == 1) ? 1 : 0;\n}\n\n// 2. GESTIÓN DE LA MATRIZ DE CONFUSIÓN VIVA\nlet matriz = context.get(algoritmo) || { tp: 0, fp: 0, fn: 0, tn: 0 };\n\n// Cruce analítico: ¿Acertó el algoritmo?\nif (prediccion === 1 && realidad === 1) matriz.tp++;        // Verdadero Positivo\nelse if (prediccion === 1 && realidad === 0) matriz.fp++;   // Falsa Alarma\nelse if (prediccion === 0 && realidad === 1) matriz.fn++;   // Falso Negativo\nelse if (prediccion === 0 && realidad === 0) matriz.tn++;   // Verdadero Negativo\n\ncontext.set(algoritmo, matriz);\n\n// 3. CÁLCULO SEGURO DE MÉTRICAS (NaN Guard)\nconst precision_raw = (matriz.tp + matriz.fp) === 0 ? 0.0 : (matriz.tp / (matriz.tp + matriz.fp));\nconst recall_raw = (matriz.tp + matriz.fn) === 0 ? 0.0 : (matriz.tp / (matriz.tp + matriz.fn));\nconst f1_raw = (precision_raw + recall_raw) === 0 ? 0.0 : (2 * (precision_raw * recall_raw) / (precision_raw + recall_raw));\n\n// Redondeos limpios para la base de datos\nlet precision_opt = Math.round(precision_raw * 10000) / 10000;\nlet recall_opt = Math.round(recall_raw * 10000) / 10000; // <--- ¡CORREGIDO!\nlet f1_opt = Math.round(f1_raw * 10000) / 10000;\n\n// 4. CÁLCULO DE LATENCIA COMPUTACIONAL\nlet latencia_seg = 0.0;\nif (msg.payload.tiempo_inicio) {\n    let latencia_ms = Date.now() - msg.payload.tiempo_inicio;\n    latencia_seg = Math.round((latencia_ms / 1000) * 1000) / 1000;\n}\n\n// 5. EMPAQUETADO FINAL DE SALIDA PARA INFLUXDB Y CSV\nlet payload_final = {\n    algoritmo: algoritmo,\n    tp: matriz.tp,\n    fp: matriz.fp,\n    fn: matriz.fn,\n    tn: matriz.tn,\n    precision: precision_opt,\n    recall: recall_opt,      // <--- ¡AÑADIDO AL PAYLOAD!\n    f1_score: f1_opt,\n    latencia_media: latencia_seg\n};\n\nmsg.payload = payload_final;\nmsg.csv_line = `${algoritmo};${(precision_opt * 100).toFixed(2)}%;${f1_opt.toFixed(4)};${latencia_seg.toFixed(1)} seg;${matriz.tp};${matriz.fp};${matriz.fn}\\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 60,
        "wires": [
            [
                "4c80aaf385a5440e",
                "6e9e8b1040d4fc74",
                "0598844fb096bd31"
            ]
        ]
    },
    {
        "id": "4c80aaf385a5440e",
        "type": "debug",
        "z": "b8da40b5e5b44b97",
        "name": "Consola Métricas TFM",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 140,
        "wires": []
    },
    {
        "id": "5d3e44254f3762e7",
        "type": "function",
        "z": "b8da40b5e5b44b97",
        "name": "Adaptar para InfluxDB",
        "func": "// 1. Asegurar que leemos el objeto correctamente\nlet paquete = typeof msg.payload === \"string\" ? JSON.parse(msg.payload) : msg.payload;\n\n// 2. Extraer los METADATOS (Las etiquetas o Tags para InfluxDB)\nlet meta = paquete.metadatos || {};\n\nlet etiquetas = {\n    isla: meta.isla || \"Desconocida\",\n    municipio: meta.municipio || \"Desconocido\",\n    tipo_instalacion: meta.tipo_instalacion || \"Desconocida\",\n    centro: meta.centro || \"Desconocido\",\n    zona: meta.zona || \"Desconocida\",\n    id_dispositivo: meta.id_dispositivo || \"Unico\",\n    tipo_sensor: meta.tipo_sensor || \"Desconocido\"\n};\n\n// 3. Extraer los CAMPOS numéricos (Fields para InfluxDB) del nuevo bloque \"datos_sensores\"\nlet datos = paquete.datos_sensores || {};\nlet campos = {};\n\n// Mapeamos los nombres nuevos a las columnas de tu base de datos\nif (datos.temperatura_int_C !== undefined) campos.temperatura_interior = datos.temperatura_int_C;\nif (datos.temperatura_ext_C !== undefined) campos.temperatura_exterior = datos.temperatura_ext_C;\nif (datos.potencia_W !== undefined) campos.consumo_electrico_W = datos.potencia_W;\nif (datos.caudal_Lmin !== undefined) campos.caudal_agua_Lmin = datos.caudal_Lmin;\n\n// 4. Empaquetar y enviar a InfluxDB (Solo si encontró datos numéricos)\nif (Object.keys(campos).length > 0) {\n    msg.payload = [\n        campos,     // Los valores numéricos puros (Fields)\n        etiquetas   // Las etiquetas de categorización (Tags)\n    ];\n    return msg;\n} else {\n    // Si no detectó los datos, bloquea el flujo para no mandar basura a InfluxDB\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 320,
        "wires": [
            [
                "fa1284bce739a225",
                "c8a2d577b21f9a70"
            ]
        ]
    },
    {
        "id": "e10f280ac5a00497",
        "type": "debug",
        "z": "b8da40b5e5b44b97",
        "name": "Monitor Consola",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 400,
        "wires": []
    },
    {
        "id": "297617e50eb1e94e",
        "type": "influxdb out",
        "z": "b8da40b5e5b44b97",
        "influxdb": "ac6f631fc39a1856",
        "name": "Guardar Histórico",
        "measurement": "clima_local",
        "precision": "",
        "retentionPolicy": "",
        "database": "pruebas_tuya",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 1160,
        "y": 320,
        "wires": []
    },
    {
        "id": "fa1284bce739a225",
        "type": "debug",
        "z": "b8da40b5e5b44b97",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "9fcbe24e70462c77",
        "type": "file",
        "z": "b8da40b5e5b44b97",
        "name": "",
        "filename": "/data/resultados_tfm.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1590,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "6e9e8b1040d4fc74",
        "type": "function",
        "z": "b8da40b5e5b44b97",
        "name": "Preparar CSV",
        "func": "// Rescatamos la línea pre-formateada que fabricó el Evaluador\nif (msg.csv_line) {\n    // El nodo 'File' de Node-RED siempre escribe lo que haya en msg.payload\n    msg.payload = msg.csv_line;\n    return msg;\n}\n\n// Si por algún motivo no hay línea, abortamos para no escribir basura\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 80,
        "wires": [
            [
                "9fcbe24e70462c77"
            ]
        ]
    },
    {
        "id": "0ed0a307c6176f31",
        "type": "influxdb out",
        "z": "b8da40b5e5b44b97",
        "influxdb": "ac6f631fc39a1856",
        "name": "Guardar Histórico",
        "measurement": "rendimiento_algoritmos",
        "precision": "",
        "retentionPolicy": "",
        "database": "pruebas_tuya",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 1630,
        "y": 20,
        "wires": []
    },
    {
        "id": "0598844fb096bd31",
        "type": "function",
        "z": "b8da40b5e5b44b97",
        "name": "Preparar Influx Métricas",
        "func": "let campos = {\n    tp: msg.payload.tp,\n    fp: msg.payload.fp,\n    fn: msg.payload.fn,\n    tn: msg.payload.tn,\n    precision: msg.payload.precision,\n    recall: msg.payload.recall, // <--- AÑADIDO AQUÍ TAMBIÉN\n    f1_score: msg.payload.f1_score,\n    latencia_media: msg.payload.latencia_media\n};\n\nlet etiquetas = {\n    algoritmo: msg.payload.algoritmo\n};\n\nmsg.payload = [campos, etiquetas];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 20,
        "wires": [
            [
                "0ed0a307c6176f31"
            ]
        ]
    },
    {
        "id": "c8a2d577b21f9a70",
        "type": "function",
        "z": "b8da40b5e5b44b97",
        "name": "Sanitizar Municipios",
        "func": "// Recuperamos el array preparado para InfluxDB [fields, tags]\nlet fields = msg.payload[0];\nlet tags = msg.payload[1];\n\n// Diccionario geográfico con coordenadas exactas de Canarias\nconst baseGeografica = {\n    \"Puerto_Rosario\": { nombre: \"Puerto del Rosario\", lat: 28.5008, lon: -13.8628 },\n    \"La_Orotava\": { nombre: \"La Orotava\", lat: 28.3902, lon: -16.5235 },\n    \"La_Laguna\": { nombre: \"La Laguna\", lat: 28.4871, lon: -16.3149 },\n    \"Las_Palmas\": { nombre: \"Las Palmas\", lat: 28.1235, lon: -15.4363 }\n};\n\nlet itemOriginal = tags.municipio;\n\nif (baseGeografica[itemOriginal]) {\n    // 1. Guardamos el nombre limpio en los Tags\n    tags.municipio = baseGeografica[itemOriginal].nombre;\n\n    // 2. Inyectamos la Latitud y Longitud como variables NUMÉRICAS en los Fields\n    fields.latitude = baseGeografica[itemOriginal].lat;\n    fields.longitude = baseGeografica[itemOriginal].lon;\n}\n\n// Reensamblamos el mensaje para el nodo 'influxdb out'\nmsg.payload = [fields, tags];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 320,
        "wires": [
            [
                "297617e50eb1e94e",
                "c7eab09a472a6d2f"
            ]
        ]
    },
    {
        "id": "1f5c9729179ae7e4",
        "type": "inject",
        "z": "b8da40b5e5b44b97",
        "name": "Consultar Base de Datos",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 570,
        "y": 980,
        "wires": [
            [
                "c6cddf6bcc0a4f39"
            ]
        ]
    },
    {
        "id": "2edb13861ea22aa2",
        "type": "debug",
        "z": "b8da40b5e5b44b97",
        "name": "Ver Histórico en Consola",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 980,
        "wires": []
    },
    {
        "id": "d46f62a3a3e4a719",
        "type": "http in",
        "z": "b8da40b5e5b44b97",
        "name": "hora",
        "url": "hora_local",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 500,
        "y": 1080,
        "wires": [
            [
                "8bb4845bc0dedcaa"
            ]
        ]
    },
    {
        "id": "8bb4845bc0dedcaa",
        "type": "function",
        "z": "b8da40b5e5b44b97",
        "name": "function 1",
        "func": "// Forzamos la obtención de la fecha en formato UTC puro\nvar ahora = new Date();\nvar utc_milisegundos = ahora.getTime() + (ahora.getTimezoneOffset() * 60000);\n\nmsg.payload = { \"t\": utc_milisegundos };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1080,
        "wires": [
            [
                "bdb5a028e7e215e3"
            ]
        ]
    },
    {
        "id": "bdb5a028e7e215e3",
        "type": "http response",
        "z": "b8da40b5e5b44b97",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 840,
        "y": 1080,
        "wires": []
    },
    {
        "id": "c6cddf6bcc0a4f39",
        "type": "influxdb in",
        "z": "b8da40b5e5b44b97",
        "influxdb": "ac6f631fc39a1856",
        "name": "Traer Últimas Lecturas",
        "query": "SELECT * FROM clima_local ORDER BY time DESC LIMIT 5",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "",
        "x": 820,
        "y": 980,
        "wires": [
            [
                "2edb13861ea22aa2"
            ]
        ]
    },
    {
        "id": "7a05d28c0085ca1b",
        "type": "http in",
        "z": "b8da40b5e5b44b97",
        "name": "Petición desde Navegador",
        "url": "/descargar-csv",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 500,
        "y": 1160,
        "wires": [
            [
                "9ee6911746b3641f"
            ]
        ]
    },
    {
        "id": "9ee6911746b3641f",
        "type": "file in",
        "z": "b8da40b5e5b44b97",
        "name": "Leer CSV de Docker",
        "filename": "/data/resultados_tfm.csv",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 740,
        "y": 1160,
        "wires": [
            [
                "b77a9b6f2cf16145"
            ]
        ]
    },
    {
        "id": "b77a9b6f2cf16145",
        "type": "function",
        "z": "b8da40b5e5b44b97",
        "name": "Preparar Descarga",
        "func": "// Le decimos al navegador que esto es un archivo descargable\nmsg.headers = {\n    'Content-Type': 'text/csv',\n    'Content-Disposition': 'attachment; filename=\"resultados_tfm.csv\"'\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1160,
        "wires": [
            [
                "c2eadd4e3e857537"
            ]
        ]
    },
    {
        "id": "c2eadd4e3e857537",
        "type": "http response",
        "z": "b8da40b5e5b44b97",
        "name": "Enviar a Windows",
        "statusCode": "",
        "headers": {},
        "x": 1180,
        "y": 1160,
        "wires": []
    },
    {
        "id": "c7eab09a472a6d2f",
        "type": "debug",
        "z": "b8da40b5e5b44b97",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1126.7777099609375,
        "y": 430.1111145019531,
        "wires": []
    },
    {
        "id": "75d0f399653130f5",
        "type": "function",
        "z": "b8da40b5e5b44b97",
        "name": "tiempo entrada",
        "func": "msg.payload.tiempo_inicio = Date.now();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 200,
        "wires": [
            [
                "5d3e44254f3762e7",
                "e10f280ac5a00497",
                "a0a5c875536d4f93"
            ]
        ]
    },
    {
        "id": "4a33c57d8c9e0e1b",
        "type": "function",
        "z": "b8da40b5e5b44b97",
        "name": "Filtrar y Extraer Alertas",
        "func": "// ====================================================================\n// NODO: FILTRAR Y EXTRAER ALERTAS (Extracción Geográfica y Temporal)\n// ====================================================================\n\n// Solo actuamos si el algoritmo ha detectado una anomalía real (Predicción = 1)\nif (msg.prediccion_algoritmo === 1) {\n\n    let algoritmo = msg.algoritmo_nombre || \"Desconocido\";\n    let topic = msg.topic || \"\"; // Ejemplo: \"canarias/Hospital/Gran_Canaria/.../datos\"\n\n    // 1. EXTRAER LOCALIZACIÓN DINÁMICA DESDE EL TOPIC MQTT\n    // Dividimos el topic por barras inclinadas para extraer cada nivel jerárquico\n    let niveles = topic.split('/');\n\n    let region = niveles[0] || \"No especificado\";\n    let tipo_infra = niveles[1] || \"No especificado\";\n    let isla = niveles[2] || \"No especificado\";\n    let municipio = niveles[3] || \"No especificado\";\n    let centro = niveles[4] || \"No especificado\";\n    let zona = niveles[5] || \"No especificado\";\n    let dispositivo = niveles[6] || \"No especificado\";\n\n    // 2. CAPTURAR LA HORA EXACTA DEL SUCESO (Formato ISO para Base de Datos)\n    let hora_iso = new Date().toISOString();\n\n    // 3. CAPTURAR EL VALOR QUE PROVOCÓ LA ALERTA\n    let valor_disparador = 0.0;\n    if (msg.payload && msg.payload.datos_sensores) {\n        // Si es telemetría térmica o de caudal, guardamos el valor correspondiente\n        valor_disparador = msg.payload.datos_sensores.temperatura_int_C || msg.payload.datos_sensores.caudal_Lmin || 0.0;\n    }\n\n    // 4. EMPAQUETAR ESTRUCTURA ESTRICTA PARA INFLUXDB (Measurement: alertas_anomalias)\n    msg.payload = [\n        {\n            // Campos numéricos o de texto descriptivo amplio\n            valor_detectado: parseFloat(valor_disparador),\n            mensaje_alerta: `Anomalía crítica detectada por ${algoritmo}`,\n            hora_local: new Date().toLocaleString(\"es-ES\", { timeZone: \"Atlantic/Canary\" }) // Hora legible Canaria\n        },\n        {\n            // Tags (Índices de búsqueda rápida en InfluxDB y Grafana)\n            algoritmo: algoritmo,\n            region: region,\n            tipo_infraestructura: tipo_infra,\n            isla: isla,\n            municipio: municipio,\n            centro_operativo: centro,\n            zona_especifica: zona,\n            sensor_id: dispositivo\n        }\n    ];\n\n    // Forzamos a InfluxDB a usar la hora exacta en la que se generó esta alerta\n    msg.timestamp = new Date(hora_iso);\n\n    return msg; // Alerta aprobada -> Pasa a la base de datos\n}\n\n// Si el algoritmo dice que todo está normal (0), destruimos el mensaje silenciosamente\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 160,
        "wires": [
            [
                "86d4f498a3b5d4fa"
            ]
        ]
    },
    {
        "id": "86d4f498a3b5d4fa",
        "type": "influxdb out",
        "z": "b8da40b5e5b44b97",
        "influxdb": "ac6f631fc39a1856",
        "name": "Guardar Histórico",
        "measurement": "alertas_anomalias",
        "precision": "",
        "retentionPolicy": "",
        "database": "pruebas_tuya",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 1330,
        "y": 220,
        "wires": []
    },
    {
        "id": "0ceb6ce9dfbdb925",
        "type": "mqtt-broker",
        "name": "Mosquitto Docker",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ac6f631fc39a1856",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "pruebas_tuya",
        "name": "InfluxDB Docker",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "",
        "timeout": "",
        "rejectUnauthorized": false
    },
    {
        "id": "f531c75f435fd4e3",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]